pre {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  overflow-x: auto;
  background-color: #2a2a2a;
}

pre code {
  color: #dcdccc;
  font-family: monospace;
}

code {
  color: #555;
  font-family: monospace;
}

.blog-main {
  font-size: 18px;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

.about {
  margin-top: 110px;
  margin-bottom: 110px;
  border-radius: 3px;
  background-color: #F5F5F5;
  padding: 15px;
}

.about-box {
  padding-right: 0;
}

.head {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: monospace;
  font-size: 3em;
}

.head a {
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

.head a:hover {
  text-decoration: none;
}

ul.posts {
  padding-left: 0;
}

.posts li {
  list-style-type: none;
}

.post-head {
  margin-bottom: 20px;
}

.post-head a {
  color: black;
}

.post-head a:hover {
  text-decoration: none;
}

footer {
  border-top: 3px dotted #f5f5f5;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 15px;
}

footer a:hover {
  text-decoration: none;
}