pre {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  overflow-x: auto;
  background-color: #2a2a2a;
}

pre code {
  color: #dcdccc;
  font-family: monospace;
}

code {
  color: #555;
  font-family: monospace;
}

.blog-main {
  font-size: 18px;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

.about {
  border-radius: 3px;
  background-color: #F5F5F5;
  padding: 15px;
}

.about-box {
  padding-right: 0;
}

.head {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: monospace;
}