body {
		line-height: 1.6em;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.sidebar {
    width: 25%;
    float: right;
}

.content {
    width: 66%;
		float: left;
}

.content h1 {
    border-bottom: 1px solid grey;
}

.content h1 a {
    text-decoration: none;
    color: black;
}

.slogan {
		font-family: monospace;
		font-size: 3em;
}

.post-title {
    text-align: center;
}

.published-at {
    text-align: right;
    display: block;
    color: grey;
}

.content footer {
    text-align: center;
}

.content footer a {
    text-decoration: none;
}

pre {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  overflow-x: auto;
  background-color: #282828;
}

pre code {
  color: #D0D0D0;
  background-color: inherit;
  font-family: monospace;
  font-size: 1.2em;
}

code {
  color: #555;
  font-family: monospace;
  font-size: 1.2em;
}
