<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
    <link rel="stylesheet" href="/normalize.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/freya.css">
    <meta property="og:title" content="{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}" />
    <meta property="og:url" content="http://blog.jan-ahrens.eu" />
    <meta property="og:image" content="http://blog.jan-ahrens.eu/assets/lambda.png" />
{% if page.excerpt %}
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% endif %}" />
{% endif %}
  </head>

  <body>
    <div class="wrapper" id="top">
      <article class="content">
        <h1 class="slogan">
          <a href="/">/blog</a>
        </h1>
        {{ content }}
      </article>

      <aside class="sidebar">
        <header>
        <h2>
          <a href="https://github.com/JanAhrens"><img height="32px" src="/assets/lambda.png"></a> about</h2>
          <p>
            Hi, I'm <a href="https://github.com/JanAhrens">Jan Ahrens</a>!
            In my blog you can read about my thoughts on various technical topics.
            My opinions are my own and don't necessarily reflect those of my employers.
          </p>
        </header>
      </aside>

    </div>
  </body>
</html>
