<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
    <link rel="stylesheet" href="{{ site.baseurl}}/normalize.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <div class="wrapper" id="top">

			<aside class="sidebar">
				<header>
					<h2><a href="https://github.com/JanAhrens"><img height="32px" src="{{ site.baseurl }}/assets/lambda.png"></a> about</h2>
					<p>
						Hi, I'm <a href="https://github.com/JanAhrens">Jan Ahrens</a>!
						In my blog you'll read about random tech stuff.
					</p>
					<p>
						My current focus is on <mark>Haskell</mark>, <mark>Ruby</mark> and <mark>the web</mark>.
					</p>
				</header>
			</aside>

      <article class="content">
				<h1 class="slogan"><a href="{{ site.baseurl }}">/blog</a></h1>
				{{ content }}
      </article>

    </div>
  </body>
</html>
